.nav li{
           display: inline-block;
           padding-right: 10px;
           background-color: red;
         }
.nav li a{
	color: white;
}
#about_blue {
	border: 3px solid black;
	background-color: #6495ED;
}
#about_blue li {
	color: blue;
}

#about_yellow {
	border: 3px solid black; 
	background-color: #FFEBCD;
}

#about_yellow li {
color: orange;
}

.important {font-weight: bold;
}
